<!--<div class="grid">-->
<!--  <div class="col mt-auto" *ngFor="let product of products$ | async">-->
<!--    <mat-card class="example-card">-->
<!--      <mat-card-header>-->
<!--        <div mat-card-avatar class="example-header-image"></div>-->
<!--        <mat-card-title>{{product.name}}</mat-card-title>-->
<!--        <mat-card-subtitle>Item</mat-card-subtitle>-->
<!--      </mat-card-header>-->

<!--      <img mat-card-image src="{{product.image ? (environment.fullUrl + product.image) : '/assets/no-image.png'}}" class="mat-card-image">-->
<!--      <mat-card-content>-->
<!--        <p>-->
<!--          {{product.description}}-->
<!--        </p>-->
<!--      </mat-card-content>-->
<!--      <mat-card-actions>-->
<!--        <button mat-raised-button color="primary">View</button>-->
<!--      </mat-card-actions>-->
<!--    </mat-card>-->
<!--  </div>-->
<!--</div>-->

<h1>order works</h1>
